/* Основні стилі для тіла сторінки */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('2.jpg'), url('3.jpg'); /* Фони */
    background-size: cover;
    background-position: center;
}

/* Стилі для шапки */
header {
    height: 100px; /* Висота шапки */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Прозорий чорний фон */
    z-index: 1;
    padding: 0 20px;
}

/* Стилі для логотипу */
.logo {
    width: 200px;
    margin-top: 10px; /* Відступ для логотипу */
    transform: translateX(-15px); /* Зсуває елемент на 15px вліво */
}

/* Контейнер для SVG іконок */
.svg-container {
    display: flex;
    gap: 10px;
}

/* Стилі для SVG іконок */
.svg-icon {
    width: 40px;
}

/* Великий контейнер з текстом та кнопкою */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Вирівнювання контейнера */
    flex-direction: column; /* Вертикальне вирівнювання */
    margin-top: 100px; /* Відступ зверху для контейнера */
}

.large-container {
    text-align: center;
    margin-top: 50px; /* Можна скоригувати */
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: #888;
}


/* Контейнер для кнопки */
.call-button-container {
    margin-top: 20px; /* Відступ для кнопки */
}

/* Кнопка */
.call-button {
    background-color: #444; /* Темний колір кнопки */
    color: white; /* Колір тексту */
    border: none; /* Без обрамлення */
    padding: 10px 20px; /* Внутрішній відступ кнопки */
    font-size: 16px; /* Розмір тексту кнопки */
    cursor: pointer; /* Курсор у вигляді вказівника */
    border-radius: 5px; /* Закруглені кути */
    transition: background-color 0.3s; /* Анімація зміни кольору фону */
}

/* Зміна кольору кнопки при наведенні */
.call-button:hover {
    background-color: #666; /* Світліший темний відтінок при наведенні */
}

/* Зміна кольору кнопки при натисканні */
.call-button:active {
    background-color: #222; /* Найтемніший відтінок при натисканні */
}
/* Стилі для контейнерів */
.container-row {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.container {
    flex: 1;
    margin: 0 10px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1); /* Зроблено прозорим */
    color: #888; /* Середній сірий текст */
    text-align: center;
    padding-top: 50px;
}
